:root {
    --b :linear-gradient(rgb(11, 11, 34), rgba(11, 11, 34, 0.8)); 

}
body {
    font-family: 'Noto Sans', sans-serif;
  }


#header {
    background: linear-gradient(rgb(11, 11, 34), rgba(11, 11, 34, 0.8)); 
  }
  nav {
    background:var(--b); 
  }
.navbar-nav a.nav-link {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: white; 
      }
.navbar-nav a.nav-link:hover {
        color: rgb(95, 101, 97); 
        text-decoration: none; 
      }
  
/*pelayanan*/
#new{
    padding: 100px 0;
}
h2{
    font-size: 48px;
    font-weight: 500;
    color: rgb(109, 68, 49);
}
.sub-title{
    font-size: 18px;
    color: black;
}
.card-layanan{
    width: 100%;
    height: 313px;
    border-radius: 4px;
    background-color: white;
    color: black;
    padding: 40px;
    box-shadow: 0 0 7px 3px rgb(109, 68, 49);
}
.row .btn1{
    height: 45px;
    width: 35%;
    outline: none;
    border: none;
    
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(109, 68, 49);
    color: aliceblue;
    border-radius: 60px;
    font-weight: 700;

}
.shopping-cart{
    background-color: var(--b);
}


/*hover*/

.card-layanan:hover{
    border-radius: 4px;
    background: linear-gradient(160deg, rgb(109, 68, 49), rgb(75,96,79));
    padding: 40px;
    box-shadow: 0 0 7px 3px rgb(109, 68, 49);
    color: white;
}

